.Container {
    background-color: black;
    color: white;
    height: min-content;
    width: 99vw;
    
   /*  margin-top: 45vh; */
    text-align: center;
    z-index: 3;
    margin-top: -1px;
}
.Container ul {
    padding: 0;
}

.Container li {
    padding: 0.5em 0 0.5em 0;
    font-weight: lighter;
    list-style: none;
}